#insmod gpt
#insmod pc
#insmod gfxmenu
#
#insmod videotest
insmod tga
insmod png
insmod gfxterm
insmod lspci
#insmod vbeinfo
insmod vbe
insmod ntfs
insmod chain
insmod biosdisk
insmod font

#http://grub.enbug.org/ThemeFormat
#http://grub.gibibit.com/Theme_format#colors
#http://code.google.com/p/burg/wiki/InstallUbuntu
#http://code.google.com/p/burg/downloads/list
#http://ubuntuforums.org/showthread.php?t=1195275

#pour acces a grub2 du bootloader principal modifier dans fichier: /etc/default/grub
#GRUB_HIDDEN_TIMEOUT=10 #0 par defaut
#GRUB_HIDDEN_TIMEOUT_QUIET=false #true d'origine
#sudo update-grub

#echo -n "Press ESC to see the menu... "
#if sleep --verbose --interruptible 5 ; then
#set timeout=0
#fi

set default=0
set timeout=30
set fallback=1

search --no-floppy --fs-uuid --set uuid-uuid-uuid
set root=${root}

#http://grub.enbug.org/gfxterm
if loadfont /boot/polices/unicode.pf2 ; then
set gfxmode=640x480
if terminal_output gfxterm ; then true ; else
# For backward compatibility with versions of terminal.mod that don't
# understand terminal_output
terminal gfxterm
#set gfxmode=auto
#set gfxpayload=keep
fi
fi

#set locale_dir=/boot/grub/locale
#set lang=en
#insmod gettext

if background_image /boot/splash/splash.png ; then
#text no sel/fond ecran
set color_normal=white/black #1
#text sel/fond ecran sel
set color_highlight=green/white #1
else
set menu_color_normal=white/black #2
set menu_color_highlight=green/white #2
set color_normal=white/magenta #2
set color_highlight=green/white #2
fi

#set gfxpayload="1280x1024,1024x768,800x600,640x480"
#set gfxpayload=keep

#Ne supprimez pas ce marqueur! / Do not remove this marker!
#MULTISYSTEM_START
#MULTISYSTEM_STOP
#Ne supprimez pas ce marqueur! / Do not remove this marker!

menuentry "______________Grub4Dos______________" {
echo
}

#http://grub4dos.sourceforge.net/
#http://grub4dos.sourceforge.net/wiki/index.php/Grub4dos_tutorial
menuentry "Grub4Dos" {
	linux /boot/grub.exe --config-file=/boot/grub/menu.lst
}

menuentry "______________Syslinux______________" {
echo
}
#solution tordue, mais qui passe partout ...
#menuentry "Syslinux" {
#search --set -f /boot/syslinux/redir.img
#	linux16 /boot/syslinux/memdisk
#	initrd16 /boot/syslinux/redir.img
#}
#http://syslinux.zytor.com
menuentry "Syslinux" {
search --set -f "/boot/syslinux/ldlinux.sys"
drivemap -s (hd0) $root
chainloader +1
}
#Autre solution pour chainer Syslinux via une copie du mbr
#dd if=/dev/sd?1 of=/media/multisystem/boot/img/syslinux.mbr bs=512 count=1
#menuentry "Syslinux" {
#search --set -f "/boot/img/syslinux.mbr"
#drivemap -s (hd0) $root
#chainloader /boot/img/syslinux.mbr
#}
menuentry "______________UTIL______________" {
echo
}

## for debugging set debug=efi
#menuentry "0-testfakebios" {
#	hexdump -s 0xc0000 (mem)
#	fakebios
#	hexdump -s 0xc0000 (mem)
## deliberate error to get wait for key
#	xxx
#}

#How to test GRUB 2 on Macbook
#http://grub.enbug.org/TestingOnMacbook

#
#http://wiki.gentoo.org/wiki/GRUB2
#
#menuentry "Windows 7 BIOS/MBR" {
#     insmod part_msdos
#     insmod ntldr
#     insmod ntfs
#     ntldr (hd0,msdos1)/bootmgr
#}
#menuentry "Windows XP BIOS/MBR" {
#     insmod part_msdos
#     insmod ntldr
#     insmod ntfs
#     ntldr (hd0,msdos1)/ntldr
#}
#

#chainer un autre grub
#menuentry "grub.cfg auf /dev/sdb1" {
#	configfile (hd1,1)/boot/grub/grub.cfg
#}
#menuentry "Chain other configfile" {
#configfile /boot/grub/grub-xxx.cfg
#}

#
#menuentry "Return default menu" {
#chainloader /boot/grub/boot.img
#}

#chainer win ou autre OS
#menuentry "Chainer UUID de la partition" {
#insmod=ntfs
#set root=(hd0,1)
#search --no-floppy --fs-uuid --set xxx-xxx
#	drivemap -s (hd0) $root
#	chainloader +1
#}

#http://www.plop.at/en/bootmanagerdl.html
menuentry "PLoP Boot Manager" {
	linux16 /boot/img/plpbt
}

#http://www.supergrubdisk.org/
#http://developer.berlios.de/project/showfiles.php?group_id=10921
#SG2D (Floppy, CD & USB in one)
#super_grub_disk_hybrid-1.98s1.iso
menuentry "Super Grub2 Disk" {
search --set -f /boot/img/sgdh.iso
	linux16 /boot/syslinux/memdisk
	initrd16 /boot/img/sgdh.iso
}

menuentry "Super Grub Disk" {
search --set -f /boot/img/sgdfr.img
	linux16 /boot/syslinux/memdisk
	initrd16 /boot/img/sgdfr.img
}

menuentry "Smart Boot Manager" {
search --set -f /boot/img/sbootmgr.dsk
	linux16 /boot/syslinux/memdisk
	initrd16 /boot/img/sbootmgr.dsk
}

#Site: http://boot.kernel.org/index.html
#Téléchargement: http://boot.kernel.org/gpxe_images/gpxe.lkrn
menuentry "BKO (boot.kernel.org)" {
	search --set -f /boot/img/gpxe.lkrn
	linux16 /boot/img/gpxe.lkrn
}

#http://www.memtest.org/#downiso
menuentry "memtest86+" {
	linux16 /boot/img/memtest86+.bin
}

menuentry "vbeinfo" {
	vbeinfo
read
}

menuentry "lspci" {
	lspci
read
}

menuentry "gfxpayload 640x480" {
set gfxpayload=640x480
echo gfxpayload=${gfxpayload} press enter
read
}
menuentry "gfxpayload 800x600" {
set gfxpayload=800x600
echo gfxpayload=${gfxpayload} press enter
read
}
menuentry "gfxpayload 1024x768" {
set gfxpayload=1024x768
echo gfxpayload=${gfxpayload} press enter
read
}
menuentry "gfxpayload 1280x1024" {
set gfxpayload=1280x1024
echo gfxpayload=${gfxpayload} press enter
read
}

menuentry "Reboot" {
insmod reboot
reboot
}
